
<div class="dropdown-menu" aria-labelledby="dropdown01">
    <form method="get">
        <input type="hidden" name="create" value="Job">
        <input type="hidden" name="filter" value="{{#filter}}{{value}}{{/filter}}">
        <input type="hidden" name="page" value="{{#paging}}{{currentPage}}{{/paging}}">

        <button class="dropdown-item" type="submit" name="argument" value="short">Short Job</button>
        <button class="dropdown-item" type="submit" name="argument" value="normal">Normal Job</button>
        <button class="dropdown-item" type="submit" name="argument" value="long">Long Job</button>
    </form>
</div>