{{#prevPage}}
    <a href="?page={{prevPage}}&filter={{#filter}}{{value}}{{/filter}}">previous page</a>
{{/prevPage}}
{{#nextPage}}
    <a href="?page={{nextPage}}&filter={{#filter}}{{value}}{{/filter}}">next page</a>
{{/nextPage}}